[user]
	name = johnfelixespinosa
	email = johnfelix.espinosa@icloud.com
[core]
	excludesfile = /Users/john.espinosa/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
